/WEB-INF
/META-INF
/lib/angular/*
/lib/angular-animate/*
/lib/angular-bootstrap/*
/lib/angular-bootstrap-colorpicker/*
/lib/angular-breadcrumb/*
/lib/angular-cookies/*
/lib/angular-css/*
/lib/angular-resource/*
/lib/angular-sanitize/*
/lib/angular-scroll-animate/*
/lib/angular-ui-mask/*
/lib/angular-ui-router/*
/lib/angular-upload/*
/lib/blueimp-md5/*
/lib/intro.js/*
/lib/jsencrypt/*
/lib/myforce-angularjs-dropdown-multiselect/*
/lib/ng-tags-input/*
/lib/oclazyload/*
/node_modules