<div class="container-fluid">


    <div>
        <div>
            <ng-include src="'app/components/main/view/devices.html'" ng-if="activeTab === 'DEVICES'"></ng-include>
        </div>
        <div ng-if="hasPermission('applications')">
            <ng-include src="'app/components/main/view/applications.html'" ng-if="activeTab === 'APPS'"></ng-include>
        </div>

        <div ng-if="hasPermission('configurations')">
            <ng-include src="'app/components/main/view/configurations.html'" ng-if="activeTab === 'CONFS'"></ng-include>
        </div>
        <div ng-if="hasPermission('files')">
            <ng-include src="'app/components/main/view/files.html'" ng-if="activeTab === 'FILES'"></ng-include>
        </div>
        <div ng-if="hasPermission('settings')">
            <ng-include src="'app/components/main/view/settings/design.html'"
                ng-if="activeTab === 'DESIGN'"></ng-include>
            <ng-include src="'app/components/main/view/settings/common.html'"
                ng-if="activeTab === 'COMMON'"></ng-include>

            <ng-include src="'app/components/main/view/settings/users.html'" ng-if="activeTab === 'USERS'"></ng-include>
            <ng-include src="'app/components/main/view/settings/groups.html'"
                ng-if="activeTab === 'GROUPS'"></ng-include>
            <ng-include src="'app/components/main/view/settings/language.html'"
                ng-if="activeTab === 'LANG'"></ng-include>
            <ng-include src="'app/components/main/view/settings/hints.html'" ng-if="activeTab === 'HINTS'"></ng-include>
            <ng-include src="'app/components/main/view/settings/plugins.html'"
                ng-if="activeTab === 'PLUGINS'"></ng-include>
            <div ng-if="hasPermission('plugins_customer_access_management')">
                <ng-include ng-repeat="plugin in settingsPlugins" src="plugin.settingsViewTemplate"
                    ng-if="activeTab === ('plugin-settings-' + plugin.identifier)"></ng-include>
            </div>
            <div ng-if="!plugin.functionsPermission || hasPermission(plugin.functionsPermission)">
                <ng-include ng-repeat="plugin in functionsPlugins" src="plugin.functionsViewTemplate"
                    ng-if="activeTab === ('plugin-' + plugin.identifier)"></ng-include>
            </div>
        </div>
    </div>
</div>