<div class="login-logo " ng-if="rebranding"><img src="images/logo4.png"><span class="logo"
        style='color:#333433; font-size: 40px '>ThunderPOS</span></div>

<!-- Localization completed -->

<div class="container">
    <div class="row">
        <div class="col-md-4 login-sec">
            <h2 class="text-center">Login Now</h2>
            <form class="login-form">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                    <input type="text" class="form-control" placeholder="">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                    <input type="password" class="form-control" placeholder="">
                </div>


                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        <small>Remember Me</small>
                    </label>
                    <button type="submit" class="btn btn-login float-right">Submit</button>
                </div>

            </form>
            <div class="copy-text">Created with <i class="fa fa-heart"></i> by <a
                    href="http://grafreez.com">Grafreez.com</a></div>
        </div>
        <div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg"
                            alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="banner-text">
                                <h2>This is Heaven</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid"
                            src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="banner-text">
                                <h2>This is Heaven</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid"
                            src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="banner-text">
                                <h2>This is Heaven</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- 
<div ng-if="!isIE">
    <div style="box-shadow: 0px 0px 5px 1px #4177FF;" class="panel panel panel-success login"
        ng-class='{"panel-danger": errorMessage, "panel-success": successMessage}'>
        <div>
            <div class="panel-heading">
                <div class='panel-heading' ng-if='errorMessage'>{{errorMessage}}</div>
                <div class='panel-heading' ng-if='successMessage'>{{successMessage}}</div>
                <div class='panel-body' style="padding: 50px; background: #FFFFFF">
                    <form name='loginForm' ng-submit='onLogin()' style="margin-bottom: 0px">
                        <div class='form-group'>
                            <label for='username' localized>login.username</label>
                            <input style="border-color:#B8FF57; background: white;" type='text' class="form-control"
                                id='username' ng-model='login.username'
                                localized-placeholder="login.username.placeholder" required />
                        </div>
                        <div class='form-group'>
                            <label for='password' localized>login.password</label>
                            <input style="border-color:#B8FF57; background: white;" type='password' class='form-control'
                                id='password' ng-model='login.password'
                                localized-placeholder='login.password.placeholder' required />
                        </div>

                        <div style="float: left; min-height: 45px; display: flex; flex-direction: column">
                            <div ng-if="canRecover" style="margin: auto; width: 100%"><a class="action-link"
                                    ng-click="recoverPassword()" localized>login.password.recovery</a></div>
                            <div ng-if="rebranding.signupLink" style="margin: auto; width: 100%"><span
                                    localized>login.no.account</span> <a class="action-link"
                                    href="{{rebranding.signupLink}}" localized>login.signup</a></div>
                            <div ng-if="!rebranding.signupLink && canSignup" style="margin: auto; width: 100%"><span
                                    localized>login.no.account</span> <a class="action-link" ng-click="signup()"
                                    localized>login.signup</a></div>
                        </div>
                        <br />
                        <button type='submit' class='btn btn-success btn-block' style="opacity: 1; margin-top: 9px"
                            ng-disabled='loginForm.$invalid' localized>login.submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div> -->

    <div class='content-wrapper width-1000' ng-if="isIE">
        <div localized>ie.browser.notice.1</div>
        <div ng-bind-html="ieBrowserNotice2"></div>
    </div>
    <div class="login-footer" ng-if="rebranding">
        <span style="color:#4CB802">Thunder POS</span> <span localized>Todos los derechos reservados</span> (c)
        {{rebranding.year}}
    </div>