<div ng-controller='HeaderController'>
    <div ng-if='isAuth() && !isHidden()' id="deoslv_sidebar"></div>
    </di>

    <div class="container-fluid p-0 m-0" ng-if="isAuth()">
        <div class="row">
            <div ng-controller='HeaderController'>
                <div ng-if='!isHidden()' id="deoslv_navbar"></div>
            </div>
            <!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar position-fixed">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </nav> -->

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10" style="margin-top: 60px;">
                <div class="container-fluid">
                    <!-- Your content here -->
                    <div ui-view></div>

                </div>
            </main>
        </div>
    </div>


    <div id="wrapper" ng-if="isAuth()">

        <!-- Sidebar -->
        <div ng-controller='HeaderController'>
            <div ng-if='isAuth() && !isHidden()' id="deoslv_navbar"></div>
        </div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content ">

                <!-- Topbar -->
                <div ng-controller='HeaderController'>
                    <div ng-if='isAuth() && !isHidden()' id="deoslv_sidebar"></div>
                </div>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>

    <div ng-if='!isAuth() '>

        <div ui-view></div>
    </div>
</div>