<!-- Localization completed -->
<div ng-show='errorMessage' class='modal-header'>
    <div ng-show='errorMessage' class='error'><span>{{errorMessage}}</span></div>
</div>
<div class='modal-body' style="padding: 2em;">
    <form class='form-horizontal'>

        <div class='form-group'>
            <label class='col-sm-3' localized>form.configuration.copy.new.name</label>
            <div class='col-sm-9'>
                <input ng-model='configuration.name' required type='text' class='form-control'
                       localized-placeholder='form.configuration.copy.new.name.placeholder'/>
            </div>
        </div>

        <div class='form-group'>
            <label class='col-sm-3' localized>form.configuration.settings.common.desc</label>
            <div class='col-sm-9'>
                <textarea ng-model='configuration.description' class='form-control no-resize'
                          localized-placeholder='form.configuration.settings.common.desc.placeholder'></textarea>
            </div>
        </div>
<hr/>
        <div class='form-group'>
            <div class='col-sm-offset-4 col-sm-8'>
                <button type='submit' class='btn btn-primary' ng-click='save()' localized>button.save</button> &#160; &#160;
                <button type='button' class='btn' style="background-color: red; color:white;"  ng-click='closeModal()' localized>button.cancel</button>
            </div>
        </div>
    </form>
</div>
