<!-- Localization completed -->
<div ng-show='errorMessage' class='modal-header'>
    <div ng-show='errorMessage' class='error'><span>{{errorMessage}}</span></div>
</div>
<!-- <div class='modal-body' style="padding: 2em;">
    <form class='form-horizontal'>
      

</div>
</form>
</div> -->



<div class="modal" id="openBulkGroupModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <div class='form-group'>
                    <label class='col-sm-3' localized>form.update.device.action</label>
                    <div class='col-sm-9'>

                        <select class='form-control' ng-model='groupAction'>
                            <option ng-value="'set'" selected localized>form.device.set.group</option>
                            <option ng-value="'clear'" localized>form.device.clear.group</option>
                        </select>
                    </div>
                </div>

                <select id="example-getting-started" multiple="multiple" name="multiselect[]" data-dropdownmultiselect>
                    <option data-ng-repeat="option in options" value="{{getOptionId(option)}}"
                        ng-selected="isOptionSelected(option)" data-ng-bind-template="{{option.name}}">
                    </option>
                </select>

                <div class='form-group'>
                    <label class='col-sm-3' localized>form.device.groups</label>
                    <div class='col-sm-9'>
                        <div ng-dropdown-multiselect options='groupsList' translation-texts='tableFilteringTexts'
                            selected-model='groupsSelection' class='left margin-right-half custom-multi-select'></div>




                    </div>
                </div>



            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>