<!-- Localization completed -->
<div ng-show='errorMessage' class='modal-header'>
    <div ng-show='errorMessage' class='error'><span>{{errorMessage}}</span></div>
</div>
<div class="modal" id="openBulkUpdateModal" style="padding: 2em;">
    <form class='form-horizontal'>
        <div class='form-group'>
            <label class='col-sm-3' localized>form.update.device.config</label>
            <div class='col-sm-9'>
                <select class='form-control' ng-model='device.configurationId'
                    ng-options="configuration.id as configuration.name for configuration in configurations">
                </select>
            </div>
        </div>

        <hr />
        <div class='form-group'>
            <div class='col-sm-offset-4 col-sm-9'>
                <button type='submit' class='btn btn-primary' ng-click='save()' localized>button.save</button> &#160;
                &#160;
                <button type='button' class='btn' style="background-color: red; color: white;" ng-click='closeModal()'
                    localized>button.cancel</button>
            </div>
        </div>
    </form>
</div>